.box-Card, .card{
    border: transparent;
    
}


.colorRed{
    color: #f46363;
}

.AboutLogo{
    align-items: center;
    display: flex;
}


.AboutInterviews{
    align-items: center;
    margin: auto;
    justify-content: space-around;
    display: flex;  
}



.SubBtn{
    background-color: #f46363;
  color: white;
  border: transparent;
  padding: 8px;
  width: 130px;
  border-radius: 4px;
  margin-right: 30px;
}

.SubBtn:hover{
    background-color: #f46363;
}


.pinkColor{
    color: #f46363 !important;
}


.box-Card1{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 25rem !important;
    
}



.locationBox{
    display: flex;
}


.emailBox{
    display: flex;
    justify-content: space-around;
}


.goBack{
    border: 1px solid grey;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.goBack:hover{
    background-color: #f46363;
    color: white !important;
    border: transparent;
}

.notfound{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}





































@media (max-width: 576px) {

   
   
}

@media (max-width: 767px) {
 
    .AboutLogo{
       margin-top: 50px;
    }

    .AboutInterviews{
        display: grid;
    }

  .box-Card1{
    margin-top: 10px;
    width: 22rem !important;
  }

  .locationBox{
    display: grid;
}

.emailBox{
    display: flow;
    
}

    
    
}

@media (max-width: 992px) {
 
 
}

@media (max-width: 1200px) {
 
}

@media (max-width: 1400px) {
 
}

